@import url(http://fonts.googleapis.com/css?family=Monsterrat:400,700);
/* all pages */
body {
	color: #000;
	margin:	0;
	font-family: 'Monsterrat', sans-serif;
}
a {
	color: #000;
	text-decoration:none;
}
span {
	display:none;
}
h1, h2, h3, h4 {
	color: #000;	
}
/* header */
#header {
	background-color: #fff;
	height: 140px;
	line-height:140px;
}
#header a{
	color: #000;
	text-decoration: none;
	letter-spacing:0.1em;
}
#header a:hover {
	color: #f7a624;
}
#header-logo {
	display:block;
	float:left;	
}
#header-nav {
	display:block;
	float:right;
	margin-top: 0;	
}
#header-nav li {
	display:inline;	
	padding-left: 20px;
}
.container {
	max-width: 1000px;	
	margin: 0 auto;
}
/* content */
.post {
	max-width: 880px;
	margin: 0 auto;
	padding: 60px 0;	
}
.post-container:nth-child(odd) {
  background-color: #f7a624;
}
.post-container:nth-child(even) {
  background-color: #42c0d0;
}
#team {
	display: block;
	text-align:center;
	height:350px;
}
#team li{
	display:inline;
	float:right;
	margin-top: 0;
	width: 200px;
	height: 100px;
	line-height:20px;
	margin-top: 10px;
}
#team li h3{
	color: #2f2f2f;
	padding-top: 10px;
	
}
#team li h4{
	color: #42c0d0;
	font-style:normal;
	font-weight:100;
	
}
.team img{
	border-radius: 50%;
}
/* footer */
#footer {
	background-color: #2f2f2f;	
	padding: 50px 0;
}
